html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.eng, div {
	font-family: "arial";
}
.tw {
	font-family: "Microsoft Yahei", "微軟雅黑";
}
h1.tw { 
	font-size: 2em;
}
h2.tw {
	font-size: 1.5em;
}
p.tw {
	font-size: 1.2em;
}
ul.nav {
	position: fixed;
	top: 0;
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
}
button.nav {
	background-color: #333; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button.nav :hover {
    background-color: #EE1;
    color: black;
    transition-duration: 0.5s;
}
li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav :hover {
    background-color: #EE1;
    color: black;
    transition-duration: 0.3s;
}

.code {
	border: 2px solid darkorange; 
	border-radius: 8px;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: monospace;
}

.ansform {
	display: inline; 
	position: absolute; 
	left: 550px;
}

.c_n {
	width: 40px; 
	border-style: solid;
}

.c_nbutton {
	margin-top: 7px;
	background-color: orange; 
	border: 1px solid green;
	border-style: solid; 
	position: absolute; 
	left: 780px;
}

.expression {
	position: absolute; 
	left: 400px;
}

button.isequal {
	border: 1px solid green;
	border-radius: 20%;
	border-style: solid; 
	background-color: white; 
	color: black;
}

button.isequal :hover {
	transition-duration: 0.5s;
    background-color: red;
    color: red;
}

.result {
	position: absolute; 
	left: 840px;
}


#animate {
    width: 50px;
    height: 50px;
    position: absolute;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: black; /* Black*/
    color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
